<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>StudentManagement</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>StudentMarksController</display-name>
    <servlet-name>StudentMarksController</servlet-name>
    <servlet-class>com.sapient.week2.controller.StudentMarksController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentMarksController</servlet-name>
    <url-pattern>/StudentMarksController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Jersey REST Service</servlet-name>
    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>jersey.config.server.provider.packages</param-name>
      <param-value>com.sapient.rest.server</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>Jersey REST Service</servlet-name>
    <url-pattern>/rest/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginController</display-name>
    <servlet-name>UserLoginController</servlet-name>
    <servlet-class>com.sapient.week2.controller.UserLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginController</servlet-name>
    <url-pattern>/UserLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogoutController</display-name>
    <servlet-name>UserLogoutController</servlet-name>
    <servlet-class>com.sapient.week2.controller.UserLogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogoutController</servlet-name>
    <url-pattern>/UserLogoutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentInsertController</display-name>
    <servlet-name>StudentInsertController</servlet-name>
    <servlet-class>com.sapient.week2.controller.StudentInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentInsertController</servlet-name>
    <url-pattern>/StudentInsertController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentEditDeleteController</display-name>
    <servlet-name>StudentEditDeleteController</servlet-name>
    <servlet-class>com.sapient.week2.controller.StudentEditDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentEditDeleteController</servlet-name>
    <url-pattern>/StudentEditDeleteController</url-pattern>
  </servlet-mapping>
</web-app>